html {
	color: black;
	background-color: white;
}
body {
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 12px;
	min-height: 10em;
	width: 600px;
	border: 1px solid #a8bfcf;
	border-radius: 5px;
	padding: 0 1em 1em 1em;
}
input {
	color: #781351;
	background: #fee3ad;
	border: 1px solid #781351
}
a:link, a:visited {
	border-bottom: 1px solid #a8bfcf;
}
a:link, a:visited, a:hover {
	text-decoration: none;
}
a {
	color: inherit;
	background-color: inherit;
}      